body{
    background-color: rgb(255, 255, 255);
}

.header {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: rgb(116, 116, 116);
    }

    .header img{
        height: 150px;
    }

h1{
    text-align: center;
    margin-top: 10px;
}



.box{
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    background-color: rgb(149, 149, 149);
}

.audio{
    margin: 0,5px;
    font-size: 20px;
}

.imatges{
    display: flex;
    gap:10px;
    margin-top: 15px;
    margin: 10px;
    background-color:rgb(60, 60, 60);
    
    
}

.imatges img{
    width: 200px;
    height: 200px;
    object-fit:cover;
    border-radius:6px;
    align-items: center;
  
}

.integrantes{
    margin-top: 20px;
}
table{
    width: 100%;
}
th, td{
     border: 2px solid #333;
    padding:8px;
}

.videos{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background-color: rgb(65, 65, 65);
}

.videos img{
    width: 100%;
    height: 250px;
    background-color: black;

}

.mapa iframe{
     width: 100%;
    height: 300px;
    margin-top: 20px;
}

footer{
    margin-top: 20px;
    text-align: center;
}